:root {
  --black: #000000;
  --white: #ffffff;
  --pink: #F8A0CB;
  --green: #037171;
  --green-dark: #046262;
  --green-light: #06B2B2;
  --yellow: #C7F2A7;
  --blue: #94B0DA;
  --blue-dark: #5884C6;
  --blue-light: #A4BCE0;
  --red: #EB8A90;
  --milk: #FFFAE3;
;
}
